@font-face {
  font-family: "introspectionregular";
  src: url("../src/fonts/introspection-webfont.woff2") format("woff2"),
    url("../src/fonts/introspection-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "artsy_morningregular";
  src: url("../src/fonts/artsy_morning-webfont.woff2") format("woff2"),
    url("../src/fonts/artsy_morning-webfont.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --shadow-default: 0px 5px 10px rgba(0, 0, 0, 0.1);
  --main-color-scheme: rgba(233, 215, 188, 0.5);
  --main-color-scheme-opaque: rgba(233, 215, 188, 0.9);
  --main-font: "artsy_morningregular";
  --secondary-font: "introspectionregular";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Header */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem 0 0;
  background-color: var(--main-color-scheme);
  font-size: larger;
  position: sticky;
  top: 0;
  z-index: 2;
}

.title-container {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 2rem;
}

.mock-logotype-container {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  margin: 2rem 0;
}

#tabs {
  visibility: hidden;
}

#tabs.visible {
  visibility: visible;
}

#tabs button {
  appearance: none;
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  margin: 0 0.5rem;
  opacity: 0.9;
}

#tabs button:hover {
  cursor: pointer;
  opacity: 1;
}

#extender {
  margin: 0 2rem;
}

#extender:hover {
  cursor: pointer;
  transform: scale(1.3);
  transform: rotate(5deg);
  box-shadow: var(--shadow-default);
}

#extender:active {
  transform: rotate(90deg);
}

/* Content / mid */
#content {
  width: 100vw;
}

/* Home Page */
.carousel {
  width: 100vw;
  position: relative;
  border-top: 1px solid black;
}

.image-container img {
  max-width: 100%;
}

.go-left,
.go-right {
  border: 1px solid gainsboro;
  color: aliceblue;
  padding: 0.2rem;
  cursor: pointer;
  background-color: black;
  position: absolute;
  font-size: 2rem;
  z-index: 1;
}

.go-left {
  top: 50%;
  left: 15px;
}

.go-right {
  top: 50%;
  right: 15px;
}

#home-content {
  margin: 2rem 0 0;
}

.restaurant-image-container .restaurant-image {
  max-width: 30vw;
  padding: 0.9rem 2rem;
}

.about-us-container {
  margin: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-us-description {
  background-color: var(--main-color-scheme);
  padding: 0 0.7rem 0.7rem;
  border-radius: 6px;
}

.about-us-title {
  padding: 0.5rem 0 0;
  text-align: center;
  text-decoration-line: underline;
  font-family: var(--main-font);
}

.about-us-text {
  max-width: 45ch;
  padding: 0 1rem 1rem;
}

.cta-container {
  padding: 8rem 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  background-image: url(../src/images/menu-background.jpg);
  background-attachment: fixed;
}

.food-icon {
  text-align: center;
  background-color: var(--main-color-scheme);
  padding: 0.75rem 0;
  font-family: var(--secondary-font);
  font-size: 3rem;
  -webkit-text-stroke: 0.3x white;
}

.cta-button {
  appearance: none;
  border: none;
  padding: 1.25rem 1.5rem 0.8rem;
  border-radius: 5px;
  margin: 3rem 0.5rem 0;
  opacity: 0.9;
  background-color: var(--main-color-scheme-opaque);
  font-weight: bold;
  font-family: var(--main-font);
}

.cta-button:hover {
  cursor: pointer;
  opacity: 1;
}

/* Magic Text */
.magic-text-container {
  background-color: var(--main-color-scheme-opaque);
  font-size: calc(1rem + 2%);
  padding: 2rem;
  width: 30%;
  position: absolute;
  font-size: 2rem;
  z-index: 1;
  top: 50%;
  left: 10%;
  color: black;
  font-family: var(--main-font);
  -webkit-text-stroke: 0.4px white;
  /* Credits to: https://www.geeksforgeeks.org/how-to-add-text-outline-with-css/ */
}

.magic-text-title {
  padding: 0 0 0.5rem;
}

.cursor-icon {
  display: inline-block;
  animation: blink 1s step-end infinite;
  opacity: 0; /*don't touch, won't work otherwise */
}

@keyframes blink {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* Menu */
/*Use the index inside Arrays to make classes with that index, and then use it to n+2 style the objects*/
.menu-space {
  padding: 3.5rem 6rem;
}

.menu-category-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

/*Taking advantage of C in CSS */
.category-container {
  margin-right: 2rem;
}

/* no touchy area */
.menu-category-container:nth-child(even) .category-container {
  grid-area: 1 / 2 / -1 / -1;
  margin-left: 2rem;
}

.menu-category-container:nth-child(even) .menu-image-container {
  grid-area: 1 / 1 / -1 / 2;
}

.menu-category-container:nth-child(even) {
  background-color: gainsboro;
  border-radius: 10px;
}
/* END of no touchy area */

.menu-image-container {
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.category-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.category-image:hover {
  transform: scale(1.05);
}

.category-description {
  font-size: 1.3rem;
  font-family: var(--main-font);
}

.menu-item-container {
  font-size: clamp(0.6rem, 1.5vw + 0.5rem, 3rem);
  font-family: var(--secondary-font);
  margin: 1rem 0 0;
}

.item-name {
  font-family: var(--main-font);
  font-size: 0.7rem;
  margin: 0.9rem 0 0;
}

.item-price {
  font-weight: bolder;
}

/* Contact Us */
/* display grid: because I need it's methods */
.contact-us-container {
  height: 150vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background: url(../src/images/contact-us-images/contact-us-bg.png);
}

.map-title {
  padding: 2rem 0;
  text-align: center;
  font-family: var(--main-font);
  background-color: var(--main-color-scheme);
}

.button-container button {
  margin: 0 2rem;
  padding: 0.7rem 3rem;
  appearance: none;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: none;
  background-color: var(--main-color-scheme-opaque);
  font-family: var(--main-font);
  color: black;
  -webkit-text-stroke: 0.2px white;
  transition: transform 0.5s ease, background-color 0.3s ease;
}

.button-container button:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: var(--main-color-scheme);
}

.find-us-container {
  margin-bottom: -5px;
}
/* Footer */
#footer {
  background-color: var(--main-color-scheme-opaque);
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-info-container {
  padding: 0rem 2rem;
}

.disclamer {
  margin: 0.5rem 0;
}

#mock-logotype {
  background-image: url(../src/images/restaurant-logo.png);
  padding: 4rem;
  background-size: cover;
  cursor: pointer;
}

/* TODO: Header and the Contact us page */
